:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;

  color-scheme: light dark;
  color: black;
}

game-root {
  padding: 0;
}

.hidden {
  display: none;
}

.card {
  box-sizing: border-box;
  border-style: solid;
  border-width: 2mm;
  border-color: #f4f4f4;
  border-radius: 5mm;
  font-size: 12pt;
  position: relative;
  display: inline-block;
  margin: 1mm;
  background-color: #f4f4f4;
  color: #0d0721;
}
.pokerCard {
  height: 88mm;
  width: 63mm;
}
.bridgeCard {
  height: 88mm;
  width: 63mm;
}
.debug {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}
.layerImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 24pt;
  font-weight: bold;
  text-align: center;
  padding: 0 5mm;
  -webkit-text-stroke: 2px black;
  color: white;
}
.red {
  background-color: #ff0000;
}
.orange {
  background-color: #ffa500;
}
.yellow {
  background-color: #ffff00;
}
.green {
  background-color: #00ff00;
}
.blue {
  background-color: #0000ff;
}
.indigo {
  background-color: #4b0082;
}
.violet {
  background-color: #8f00ff;
}
.purple {
  background-color: #800080;
}
.cyan {
  background-color: #00ffff;
}
.black {
  background-color: #000000;
}
.white {
  background-color: #ffffff;
}
